{% extends "layout.html" %}
{% block content %}
     <section id="intro">
          
          <div class="container">
               <div class="jumbotron">
                    <div class='row'>
                        <div class="col-md-12">
                         <h2>훠궈 종류 한 가지만 알고 있나요?</h2>
                         <p>중국 전지역 다양한 훠궈의 맛 제대로 알고 싶다면 아래 링크 클릭하세요!</p>
                         <a class="btn btn-danger" href='#'>Go</a>
                        </div>
                    </div>
               </div>
          </div>
     </section>
     <section id="latest">
          <div class="container">
                  <div class="row">
                      <div class="col-md-12 text-center">
                         <h3>지역 대표 훠궈</h3>
                      </div>
                  </div>
                  <div class="row">
                        <div class="col-md-4">
                          <div class="outer">
                               <div class="upper">
                                   <img src="static/pictures/BeiJinghotpot.jpg">
                               </div>
                               <div class="lower">
                                   <h6>베이징 전통 신선로 훠궈</h6>
                                       <span><i class="fas fa-map-marker-alt"></i>BeiJing</span>
                               </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="outer">
                                <div class="upper">
                                  <img src="static/pictures/ChongQinghotpot.jpg">
                                </div>
                                <div class="lower">
                                   <h6>충칭 훠궈</h6>
                                     <span><i class="fas fa-map-marker-alt"></i>ChongQing</span>
                               </div>
                          </div>    
                        </div>
                        <div class="col-md-4">
                          <div class="outer">
                                <div class="upper">
                                  <img src="static/pictures/ChaoShanhotpot.jpg">
                                </div>
                                <div class="lower">
                                   <h6>차오산 소고기 훠궈</h6>
                                   <span><i class="fas fa-map-marker-alt"></i>GuangDong-chaoshan</span>
                                </div>
                          </div>
                         </div>
                   </div>     
          </div>
     </section>
     <footer>
       <div class="container">
            <div class="row">
                 <div class="col-md-4 text-left">
                      <img src="static/pictures/hotpot logo.jpg">
                      <p>다양한 훠궈의 맛 마음껏 즐기세요!</p>
                 </div>
                 <div class="col-md-4 text-left">
                      <h6>Link</h6>
                      <ul>
                           <li><a href='#'>홈</a></li>
                           <li><a href='#'>질문</a></li>
                      </ul>
                      <ul>
                         <li><a href='#'>이용약관</a></li>
                         <li><a href='#'>고객센터</a></li>
                      </ul>
                 </div>
                 <div class="col-md-4 text-left">
                       <h6>contact me ❤</h6>
                       <small>WeChat: manbanpai624588<br>
                              이메일: jessie_624588@naver.com</small>
                 </div>
            </div>

       </div>
     </footer>
{% endblock content %}
