{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
             <form class="form-container" method="POST" action="">
               {{ form.hidden_tag() }}   
                 <legend class="border-bottom mb-4">로그인</legend>
                 <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                 </div>

                 <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                 </div>

                 <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                 </div>

                 <div class="form-group" id="login1">
                    <button type="submit" class="btn btn-danger">로그인</button>
                 </div>

                 <div class="border-top pt-3">
                    <small class="text-muted">
                        회원 아니신가요? <a class="ml-2" href="{{ url_for('register') }}">회원 가입 바로가기</a>
                    </small>
                 </div>
             </form>
        </div>
    </div>
</div>
{% endblock content %}